<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easycalcio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ball_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Easycalcio">
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/Theme.Easycalcio.NoActionBar" />
        <activity android:name=".activities.NewMatchActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.FriendProfileActivity" />
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.EditMatchActivity" />
        <activity android:name=".activities.SearchUserActivity" />
    </application>

</manifest>